<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login to YouthLIVE</title>
        <style>
            .google-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #ff5353;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Login to YouthLIVE with...</h1>
        </header>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>
        </main>
    </body>
</html>
