<div class="container-fluid" style="font-size: 0.75rem">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-outline-dark btn-sm" name="refresh" title="Refresh profile" (click)="refreshData()">
        <i class="fa fa-refresh"></i> Refresh
      </button>
      <button class="btn btn-outline-dark btn-sm" name="revert" title="Revert to original" (click)="revertData()">
        <i class="fa fa-undo"></i> Revert
      </button>
      <button class="btn btn-outline-dark btn-sm" name="save" title="Update profile" (click)="submitData()" [disabled]="personForm.status == 'INVALID'">
        <i class="fa fa-upload"></i> Save
      </button>
    </div>
  </div>
  <form [formGroup]="personForm" novalidate>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="my-3">Personal Details</h3>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Given name</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="given_name" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">First name</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="first_name"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Last name</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="last_name"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Full name</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="full_name"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Nickname</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="nickname"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Birthdate</label>
          <div class="col-sm-4 col-md-4">
            <input type="date" class="form-control form-control-sm" formControlName="birthdate"/>
          </div>
          <label class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-4 col-md-3">
            <select class="form-control form-control-sm" formControlName="gender">
              <option value=""></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="my-3">Other Details</h3>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">School</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="school"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Grade/Year</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="year"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Course</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="course"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Home Church</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="church"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Notes</label>
          <div class="col-sm-10 col-md-9">
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 class="my-3">Contact Details</h3>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Email</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="email"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Mobile No.</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="mobileno"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-md-3 col-form-label">Facebook ID</label>
          <div class="col-sm-10 col-md-9">
            <input class="form-control form-control-sm" formControlName="facebook_id"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
