<div id="peopleDatabase" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="d-none d-md-inline col-md-3 col-lg-2 pt-2">
      <div class="m-0 py-2 px-0 font-weight-light d-flex">
        <div class="mr-auto align-bottom" style="font-size: 1rem">Lists</div>
        <div class="btn btn-sm btn-outline-dark" style="size:0.75rem"><i class="fa fa-plus"></i> Add List</div>
      </div>
      <ul class="nav nav-pills nav-fill flex-column" *ngFor="let database of databases">
        <li class="nav-item text-left">
          <a class="nav-link rounded-0 py-2 px-4" [ngClass]="{active: database.id == activeDatabase}">{{database.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-lg-10">
      <h2 class="card-title">All Youth</h2>
      <div class="d-flex mb-2">
        <div class="input-group input-group-sm mr-auto d-flex">
          <input class="form-control" placeholder="Search" />
        </div>
        <div class="pl-2">
          <button type="button" class="btn btn-sm btn-outline-dark" (click)=refreshTable()>
            <i class="fa fa-refresh"></i> Refresh
          </button>
        </div>
        <div class="pl-2">
          <button type="button" class="btn btn-sm btn-outline-dark" (click)=deletePeople()>
            <i class="fa fa-trash"></i> Delete</button>
        </div>
        <div class="pl-2">
          <button type="button" class="btn btn-sm btn-outline-dark" (click)=addPerson()>
            <i class="fa fa-plus"></i> Add</button>
        </div>
      </div>
      <table class="w-100 table table-striped table-bordered table-hover table-responsive-xs">
        <thead>
          <tr>
            <th class="py-1 px-2" style="width:1rem"><input class="checkbox" type="checkbox" [(ngModel)]="selectedAllPeople" (change)="selectAllPeople()" /></th>
            <th class="py-1 px-2">First Name</th>
            <th class="py-1 px-2">Last Name</th>
            <th class="py-1 px-2">Nickname</th>
            <th class="py-1 px-2">Birthdate</th>
            <th class="py-1 px-2">Sex</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of peopleList$ | async; let i = index">
            <td class="py-1 px-2"><input class="checkbox" type="checkbox" [(ngModel)]="selectedPeople[person._id]" /></td>
            <td class="py-1 px-2"><a routerLink="/view/{{person._id}}">{{person.first_name}}</a></td>
            <td class="py-1 px-2"><a routerLink="/view/{{person._id}}">{{person.last_name}}</a></td>
            <td class="py-1 px-2"><a routerLink="/view/{{person._id}}">{{person.nickname}}</a></td>
            <td class="py-1 px-2">{{person.birthdate | date : "yyyy-MM-dd"}}</td>
            <td class="py-1 px-2">{{person.gender}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
