<div class="modal-header">
  <h4 class="modal-title pull-left">Add Person</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="font-size: 0.75rem">
  <div class="row">
    <form [formGroup]="newPersonForm" novalidate>
      <div class="col-sm-12">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label>First Name*</label>
            <input type="text" class="form-control" formControlName="first_name">
          </div>
          <div class="form-group col-sm-6">
            <label>Last Name*</label>
            <input type="text" class="form-control" formControlName="last_name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label>Nickname</label>
            <input type="text" class="form-control" formControlName="nickname">
          </div>
          <div class="form-group col-sm-6">
            <legend class="col-form-label">Gender*</legend>
            <div class="form-check-inline pl-1">
              <input class="form-check-input" type="radio" value="M" formControlName="gender" />
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" value="F" formControlName="gender" />
              <label class="form-check-label">Female</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="saveAndClose()" [disabled]="newPersonForm.status == 'INVALID'">Save and Close</button>
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="saveAndEdit()" [disabled]="newPersonForm.status == 'INVALID'">Save and Edit</button>
  <button type="button" class="btn btn-sm btn-outline-dark" (click)="saveAndAddNew()" [disabled]="newPersonForm.status == 'INVALID'">Save and Add New</button>
</div>
